/* content pages */
.content-page{
    height:100vh
}

.content-page.sub1{
    background-color: #2b323a;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-shape-divider-bottom-1617236461 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1617236461 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 125px;
}

.custom-shape-divider-bottom-1617236461 .shape-fill {
    fill: #2b323a;
}

.custom-shape-divider-top-1617236723 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1617236723 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 125px;
}

.custom-shape-divider-top-1617236723 .shape-fill {
    fill: #2B323A;
}

.bgdeco{
    object-fit: cover;
}

.content-page.sub2{
    background-color: #181c1f;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* header sections */
.header{
    overflow: hidden;
    background-color: #181c1f;
    /* background-color: transparent; */
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* text colors */
    color:white;
}

.logo-container{
    display: flex;
    flex-direction: horizontal;
    justify-content: center;
    align-items: center;
}

.header-title{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-titletext{
    font-size: min(calc(1.3vh + 1.3vw), 2em);
    font-weight: 500;
    font-family: 'Montserrat';
    letter-spacing: 5px;
}

#studio-name-container{
    border:transparent solid;
    /* padding-bottom: 5px; */
    /* padding-top: 5px;
    padding-left: 30px;
    padding-right: 20px; */
    border-radius: 1000px;
    text-decoration: none;
    /* animation-name: 'borderDisappearance'; */
    animation-duration: 300ms;
    color:white 
}

/* 
#studio-name-container:hover{
    animation-name: 'borderAppearance';
    animation-duration: 300ms;
    border:white solid;
} */

html, body{
    scroll-behavior: smooth;
    margin:0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* animation part */
.main{
    background-color: transparent;
    width:50vh;
    max-width: 500px;
    height:100vh;
    /* border-style: solid;
    border-color: #000; */
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.node-logo1, .node-logo2{
    fill-opacity: 1;
    fill: transparent;
    stroke-width:0.7;
    stroke-opacity:1;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
}

.node-logo2{
    stroke-width:0.4;
}

.logo-svg{
    position: absolute;
    width:100%;
    height:100%;
}

/* continuous animations */
.contSecBtn{
    animation-name: vBob;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-delay: 2000ms;
}

/* event listeners for special buttons */
.imageBtn{
    opacity: 0.7;
    transition: all 230ms cubic-bezier(0.260, 0.050, 0.250, 1.000); /* custom */
}
.imageBtn:hover{
    opacity: 1;
    transition: all 230ms cubic-bezier(0.260, 0.050, 0.250, 1.000); /* custom */
}

/* bobbing up and down */
@keyframes vBob {
    0%   {transform: translateY(0px);}
    5% {transform: translateY(5px);}
    10% {transform: translateY(0px);}
    15% {transform: translateY(5px);}
    20% {transform: translateY(0px);}
    100% {transform: translateY(0px);}
}

@keyframes borderAppearance{
    0%  {border:transparent solid;}
    100%  {border:white solid;}
}

@keyframes borderDisappearance{
    0%  {border:white solid;}
    100%  {border:transparent solid;}
}